In [1]:
print(bool("hello"))
print(bool(15))

True
True

In [2]:
x="hello"
y=15
print(bool(x))
print(bool(y))

True
True

In [3]:
bool("abc")
bool(123)
bool(["apple","cherry","banana"])

True

In [4]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [5]:
def myfun():
    return True
print(myfun())

True

In [2]:
def myfun():
    return True
if myfun():
    print("yes")
else:
    print("no")

yes

In [5]:
x=200.2
print(isinstance(x,float))

True

In [6]:
x=200
print(isinstance(x,int))

True

In [8]:
x=200.2
print(isinstance(x,int))

False

In [4]:
def fn(str):
    "the print as pass string"
    print (str)
    return
fn(4)
fn("i am the first call ")
fn("again second call")

4
i am the first call
again second call

In [7]:
def fn(mylist):
    mylist.append([1,2,3,4]);
    print ("val insode the fn" ,mylist)
    return
mylist=[10,20,30]
fn(mylist);
print("valuesoutside fn",mylist)

val insode the fn [10, 20, 30, [1, 2, 3, 4]]
valuesoutside fn [10, 20, 30, [1, 2, 3, 4]]

In [8]:
def a(str):
    "this print a passed string"
    print (str)
    return
a(str="my string")

my string

In [9]:
def c(mylist):
    mylist=[1,2,3,4];
    print ("the change" ,mylist)
    return
mylist=[10,20,30]
c(mylist);
print("ouside",mylist)

the change [1, 2, 3, 4]
ouside [10, 20, 30]

In [14]:
def s(name,age):
    print ("name=",name)
    print("age=",age)
s(name="ram",age=100)

name= ram
age= 100

In [16]:
def s(name,age=35):
    print ("name=",name)
    print("age=",age)
s(name="ram")

name= ram
age= 35

In [26]:
def k(arg1,*x):
    print(arg1)
    for var in x:
           print("hi")
           print(var)
k(70,60,50,"huiiii",10)

70
hi
60
hi
50
hi
huiiii
hi
10

In [38]:
def k(arg1,arg2,*x):
    print(arg1)
    print(arg2)
    print(x[0],x[1],x[3])
    for var in x:
           print("hey")
           print(var)
k(70,60,50,"huiiii",70,10,10.555)

70
60
50 huiiii 10
hey
50
hey
huiiii
hey
70
hey
10
hey
10.555

In [39]:
#lambda fn
sum= lambda a1,a2:a1+a2
print("val of toatal:",sum(10,20))
print("val of toatal:",sum(20,20))

val of toatal: 30
val of toatal: 40

In [48]:
x=lambda a:a+10
print(x(5))
x=lambda a,b:a*b
print(x(5,5))
x=lambda a,b,c:a+b+c
print(x(5,5,1))

15
25
11

In [49]:
def f(n):
    return lambda a:a*n
myd=f(2)
print(f(2))
print(myd(2))

<function f.<locals>.<lambda> at 0x000001D03F1D3790>
4

In [51]:
def f(n):
    return lambda a:a*n
myd=f(3)

print(myd(11))

33

In [54]:
def fn(arg1,arg2,arg3,*x):
    print("Output is: ")
    print (arg1)
    print (arg2)
    print(x[0],x[1],x[3])
  
    for var in x:
        print("HI")
        print(var)
fn(70,60,50,40,50,"brois",10.734)

Output is:
70
60
40 50 10.734
HI
40
HI
50
HI
brois
HI
10.734