In [ ]:
car={
    "barnd":"forrd",
    "model":"mustang",
    "year":1964
}
print(car["year"])
car

In [ ]:
car={
    "barnd":"forrd",
    "model":"mustang",
    "year":1964,
    "year":2020
}
print(car)

In [ ]:
car={
    "barnd":"forrd",
    "model":"mustang",
    "year":1964,
    "electri":False,
  
    "colors":["red","yellow","blue"]
}
print(car)

In [ ]:
car={
    "barnd":"forrd",
    "model":"mustang",
    "year":1964
}
x=car.keys()
print(x)
car["colors"]="white"
print(x)

In [ ]:
car={
    "barnd":"forrd",
    "model":"mustang",
    "year":1964
}
x=car.values()
print(x)
car["year"]=2000
print (x)

In [ ]:
dic={}
dict1={1:"apple",2:"ball"}
dict2={"name":"john",1:[2,4,3]}
dict3=dict({1:"apple",2:"ball"})
dict4=dict([(1,'apple'),(2,'ball')])
print(dict1,dict2,dict3,dict4)

In [ ]:
d={"name":"jack","age":26}
print(d["name"])
print(d["age"])
print(d.get("add"))
print(d['add'])  #key error

In [ ]:
marks={}.fromkeys(['maths','english','sci'])
print(marks)
for item in marks.items():
                  print(item)
print(list(sorted(marks.keys())))

In [ ]:
seq={x:x*x for x in range(6)}
print(seq)
seq={}
for x in range(6):
    seq[x]=x*x
    print(seq)

In [ ]:
odd_seq={x: x*x for x in range(11) if x%2==1}
print(odd_seq)

In [ ]:
seq={1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(1 in seq)
print(2 not in seq)
print(81 in seq)

In [6]:
d={'name':'dionyisa','age':28,'location':'athens'}
print(d)

{'name': 'dionyisa', 'age': 28, 'location': 'athens'}

In [5]:
d={'name':'dionyisa','age':28,'location':'athens'}
print(d)
c=d.pop("location")
print(c)

{'name': 'dionyisa', 'age': 28, 'location': 'athens'}
athens

In [12]:
dic={
    "child1":{
        "name":"emil",
        "year":2004
    
},
"child2":{
        "name":"tobias",
        "year":2007
},
"child3":{
        "name":"linus",
        "year":2011
}
}
print(dic)

{'child1': {'name': 'emil', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2011}}

In [13]:

    a1={
        "name":"emil",
        "year":2004
    
}
a2={
        "name":"tobias",
        "year":2007
}
a3={
        "name":"linus",
        "year":2011
}


aa={
    "child1":a1,
"child2":a2,
"child3":a3}
print(aa)

{'child1': {'name': 'emil', 'year': 2004}, 'child2': {'name': 'tobias', 'year': 2007}, 'child3': {'name': 'linus', 'year': 2011}}