In [1]:
import pandas 
li=[1,2,3,4,5,6]
print(li)

[1, 2, 3, 4, 5, 6]

In [4]:
import numpy as a
import pandas as b
df=b.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
lst=[1,2,3,4,'a',2.0,"f"]
print(lst)

[1, 2, 3, 4, 'a', 2.0, 'f']

In [7]:
df=b.DataFrame(['a','b','c'])
print(df)

   0
0  a
1  b
2  c

In [8]:
lst=['a',2.0,"f"]
df=b.DataFrame(lst,index=[1,2,4])
print(df)

     0
1    a
2  2.0
4    f

In [9]:
df=b.DataFrame(['a','b','c'], index=['r','t','u'])
print(df)

   0
r  a
t  b
u  c

In [10]:
for x , n in df.iteritems():
    print(x,n)

0 r    a
t    b
u    c
Name: 0, dtype: object

In [11]:
for row_index,row in df.iterrows():
    print(row_index,row)

r 0    a
Name: r, dtype: object
t 0    b
Name: t, dtype: object
u 0    c
Name: u, dtype: object

In [13]:
df= b.DataFrame(a.random.randn(4,3),index=[6,7,8,9],columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
6  0.627386 -1.452028 -1.163613
7  0.172363 -0.107080 -0.879001
8 -0.054896 -1.865015 -1.201041
9  0.296957 -0.482067  1.516004

In [14]:
for row_index,row in df.iterrows():
    print(row_index,row)

6 col1    0.627386
col2   -1.452028
col3   -1.163613
Name: 6, dtype: float64
7 col1    0.172363
col2   -0.107080
col3   -0.879001
Name: 7, dtype: float64
8 col1   -0.054896
col2   -1.865015
col3   -1.201041
Name: 8, dtype: float64
9 col1    0.296957
col2   -0.482067
col3    1.516004
Name: 9, dtype: float64

In [15]:
for row_index,row in df.iteritems():
    print(row_index,row)

col1 6    0.627386
7    0.172363
8   -0.054896
9    0.296957
Name: col1, dtype: float64
col2 6   -1.452028
7   -0.107080
8   -1.865015
9   -0.482067
Name: col2, dtype: float64
col3 6   -1.163613
7   -0.879001
8   -1.201041
9    1.516004
Name: col3, dtype: float64

In [16]:
for row in df.itertuples():
    print(row)

Pandas(Index=6, col1=0.6273862589661107, col2=-1.4520277323768491, col3=-1.163613466511375)
Pandas(Index=7, col1=0.17236335414447723, col2=-0.10708047909174641, col3=-0.8790008036761688)
Pandas(Index=8, col1=-0.054895534279245, col2=-1.8650150520617637, col3=-1.201041090764548)
Pandas(Index=9, col1=0.2969566375538784, col2=-0.48206652241974884, col3=1.5160043376374808)

In [18]:
import pandas as b
print(b.__version__)

1.4.2

In [19]:
A={'a':['a','b','c'],'b':[1,2,3],'c':[2014,2015,2016],'d':['aa','bb','yy']}
print(A)

{'a': ['a', 'b', 'c'], 'b': [1, 2, 3], 'c': [2014, 2015, 2016], 'd': ['aa', 'bb', 'yy']}

In [20]:
df=b.DataFrame(A)
print(df)

   a  b     c   d
0  a  1  2014  aa
1  b  2  2015  bb
2  c  3  2016  yy

In [21]:
df=b.DataFrame(A)
df=b.DataFrame(A,index=[1,2,4])
print(df)

   a  b     c   d
1  a  1  2014  aa
2  b  2  2015  bb
4  c  3  2016  yy

In [28]:
listdic=[{'a':['a','b','c']},{'b':[1,2,3]},{'c': ['aa','bb','cc'] } ]

In [31]:
data=[{'a':[1,2],'b':2},{'a':5,'b':10,'c':20}]
df=b.DataFrame(data,index=['first','second'])
print(df)

             a   b     c
first   [1, 2]   2   NaN
second       5  10  20.0

In [32]:
#df using list 
lst=[[1,2,3],['a','b','c']]
df=b.DataFrame(lst,index=['m','n'],dtype=float)
print(df)

   0  1  2
m  1  2  3
n  a  b  c

C:\Users\kundrasu\AppData\Local\Temp\ipykernel_22868\2433439046.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=b.DataFrame(lst,index=['m','n'],dtype=float)

In [33]:
lst=[['a','b','c'],[1,2,3]]
df=b.DataFrame(lst,index=['m','n'],dtype=float)
print(df)

   0  1  2
m  a  b  c
n  1  2  3

C:\Users\kundrasu\AppData\Local\Temp\ipykernel_22868\3398364891.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=b.DataFrame(lst,index=['m','n'],dtype=float)

In [36]:
lst=[['a','b','c'],[1,2,3]]
df=b.DataFrame(lst,columns=['a','b','c'],dtype=float)
print(df)

   a  b  c
0  a  b  c
1  1  2  3

C:\Users\kundrasu\AppData\Local\Temp\ipykernel_22868\4194818824.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=b.DataFrame(lst,columns=['a','b','c'],dtype=float)

In [38]:
dd=[['alex',10],['bob',12],['clarke',13]]
df=b.DataFrame(dd,columns=['name','age'],dtype=float)
print(df)

     name   age
0    alex  10.0
1     bob  12.0
2  clarke  13.0

C:\Users\kundrasu\AppData\Local\Temp\ipykernel_22868\1762336010.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=b.DataFrame(dd,columns=['name','age'],dtype=float)

In [39]:
dd=[[10,'alex'],[12,'bob'],[13,'clarke']]
df=b.DataFrame(dd,columns=['name','age'],index=[5,6,7],dtype=float)
print(df)

   name     age
5  10.0    alex
6  12.0     bob
7  13.0  clarke

C:\Users\kundrasu\AppData\Local\Temp\ipykernel_22868\4122967739.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=b.DataFrame(dd,columns=['name','age'],index=[5,6,7],dtype=float)

In [40]:
dd=[[10,'alex',20],[12,'bob',30],[13,'clarke',40]]
df2=b.DataFrame(dd,columns=['name','age','new'],index=[5,6,7],dtype=float)
print(df2)

   name     age   new
5  10.0    alex  20.0
6  12.0     bob  30.0
7  13.0  clarke  40.0

C:\Users\kundrasu\AppData\Local\Temp\ipykernel_22868\1883995096.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df2=b.DataFrame(dd,columns=['name','age','new'],index=[5,6,7],dtype=float)