In [1]:
str_1='hello phy!'
print(str_1)

hello phy!

In [2]:
str_1

'hello phy!'

In [3]:
str_2="helo"+"landis"
str_2

'helolandis'

In [4]:
str_3= str_1*3
str_3

'hello phy!hello phy!hello phy!'

In [5]:
str_4="1 2 3 4 5"
str_4.split()

['1', '2', '3', '4', '5']

In [6]:
str_5="1, 2, 3, 4, 5"
str_5.split(",")

['1', ' 2', ' 3', ' 4', ' 5']

In [7]:
str_6= " "
str_6.join(str_5)

'1 ,   2 ,   3 ,   4 ,   5'

In [8]:
str_1.replace("phy","world")

'hello world!'

In [9]:
str_1.lstrip()

'hello phy!'

In [10]:
str_1.rstrip()

'hello phy!'

In [11]:
txt="the best thing is the life is free"
print("free"in txt)

True

In [12]:
txt="the best thing is the life is free"
if "free" in txt:
 print("yes ,'free' is present")

yes ,'free' is present

In [13]:
txt="the best thing is the life is free"
print("expensive"in txt)

False

In [14]:
txt="the best thing is the life is free"
if "expensive" not in txt:
 print("not ,'expensive'is not present")

not ,'expensive'is not present

In [15]:
b="hello,world!"
print(b[2:5])
b1="hello,world!"
print(b1[:5])
b3="hello,world!"
print(b3[2:])
b4="hello,world!"
print(b4[-5:-2])

llo
hello
llo,world!
orl

In [16]:
b="hello,world!"
print(b.upper())
print(b.lower())

HELLO,WORLD!
hello,world!

In [17]:
age=36
txt="my name is ms dhoni {}"
print(txt.format(age))

my name is ms dhoni 36

In [18]:
age=36
txt="my name is ms dhoni " + str(age)
print(txt)

my name is ms dhoni 36

In [19]:
q=3
it=567
price=80.95
myo=" i want {} pieces of {} for {} dollars"
print(myo.format(q,it,price))

 i want 3 pieces of 567 for 80.95 dollars

In [20]:
q=3
it=567
price=80.95
myo=" i want {2} pieces of {0} for {1} dollars"
print(myo.format(q,it,price))

 i want 80.95 pieces of 3 for 567 dollars

In [21]:
list1=["apple","banana","cherry"]
list2=[1,2,3,4]
list3=[]
list3=list1
list1=list2
list2=list3
print(list1)
print(list2)

[1, 2, 3, 4]
['apple', 'banana', 'cherry']

In [22]:
a,b,c,d=10,20,30,40
def fun():
    a,b,c=100,200,300
    print("in fun",a,b,c,d)
    def funb():
        a,b=1000,2000
        print("in funb",a,b,c,d)
        def func():
            a=10000
            print("func",a,b,c,d)
        
        func()
    funb()
fun()
print("in__main",a,b,c,d)

in fun 100 200 300 40
in funb 1000 2000 300 40
func 10000 2000 300 40
in__main 10 20 30 40